<div style="padding:5px">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active">
      <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="employees">Employees</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="test">Test</a>
    </li>
  </ul>
  <br/>
  <router-outlet></router-outlet>
</div>



<!--The content below is only a placeholder and can be replaced.-->
<!--<div>
  <h1>
    UIM {{title}}!
  </h1>
  <test-app></test-app>
  <hr>
  <employee-app></employee-app>
  <list-employee></list-employee>
  
</div>-->
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->